.led {
    background: #97e0ea;
    color: #004f5a;
    border-radius: 5px;
    text-align: right;
}
.numero {
    background-color: #f0fdff;
    color: rgb(1, 1, 1);
}
.resultado {
    margin-right: 1em;
}