<div class="pure-g-r">
    <div class="led pure-u-1">
        <p class="resultado">led</p>
    </div>
</div>

<div class="pure-g">
    <button class="pure-button numero pure-u-1-4">7</button>
    <button class="pure-button numero pure-u-1-4">8</button>
    <button class="pure-button numero pure-u-1-4">9</button>
    <button class="pure-button pure-u-1-4">/</button>
</div>

<div class="pure-g">
    <button class="pure-button numero pure-u-1-4">4</button>
    <button class="pure-button numero pure-u-1-4">5</button>
    <button class="pure-button numero pure-u-1-4">6</button>
    <button class="pure-button pure-u-1-4">*</button>
</div>

<div class="pure-g">
    <button class="pure-button numero pure-u-1-4">1</button>
    <button class="pure-button numero pure-u-1-4">2</button>
    <button class="pure-button numero pure-u-1-4">3</button>
    <button class="pure-button pure-u-1-4">-</button>
</div>

<div class="pure-g">
    <button class="pure-button numero pure-u-1-4">0</button>
    <button class="pure-button numero pure-u-1-4">.</button>
    <button class="pure-button pure-button-primary pure-u-1-4">=</button>
    <button class="pure-button pure-u-1-4">+</button>
</div>
