<div class="led">
    <p class="resultado">190+43</p>
</div>

<div class="fila">
    <button class="pure-button tecla numero">7</button>
    <button class="pure-button tecla numero">8</button>
    <button class="pure-button tecla numero">9</button>
    <button class="pure-button tecla franja">/</button>
</div>

<div class="fila">
    <button class="pure-button tecla numero">4</button>
    <button class="pure-button tecla numero">5</button>
    <button class="pure-button tecla numero franja">6</button>
    <button class="pure-button tecla signo">*</button>
</div>

<div class="fila">
    <button class="pure-button tecla numero">1</button>
    <button class="pure-button tecla numero franja">2</button>
    <button class="pure-button tecla numero">3</button>
    <button class="pure-button tecla signo">-</button>
</div>

<div class="fila">
    <button class="pure-button tecla numero franja">0</button>
    <button class="pure-button tecla numero">.</button>
    <button class="pure-button tecla tecla-principal">=</button>
    <button class="pure-button tecla signo">+</button>
</div>
